# files
*.log
*.csv
*.tsv
*.pkl
*.list
*.json
*.pdf

#cache
__pycache__/*
*/__pycache__/*
*.pyc

.idea/*


# code files
clean/filetools.py
scheduler.py
test_space/*

# personal
TODO.md
visualisation.ipynb
tmp.py
findingduplicates.py
countfilelines.py
