# files
actors.list
actresses.list
2017-02-09_223251_ImdbParserOutput/*
actor_dict_lite.pkl
movie_dict_lite.pkl
unique_actors_lite.pkl
unique_movie_lite.pkl
unique_actors.pkl
movie2actor.pkl

#cache
__pycache__/*
*/__pycache__/*


.idea/*


# code files
clean/filetools.py
scheduler.py
test_space/*

# personal
TODO.md
