# files
actors.list
actresses.list
tmp.list
2017-02-09_223251_ImdbParserOutput/*
tmp.pkl

#cache
__pycache__/*
*/__pycache__/*


.idea/*


# code files
clean/filetools.py
scheduler.py
test_space/*

# personal
TODO.md
